/*-- scss:defaults --*/


// HFV Color base-palette

$theme-hfvshadow: #011E41;
$theme-hfvsky: #40C0C0;
$theme-hfvlilac: #8B85CA;
$theme-hfvgrass: #259591;
$theme-hfvberry: #B1005F;

// color-scheme


// fonts

.teal_highlight {
  color: $theme_hfvsky;
  font-weight: bold;
}

#title-slide {
  
  .title{
  font-size: 100px !important;
  font-weight: bold;
  color: white !important;
  background-color: #011E4175;
  }
  
  .quarto-title-author-name {
  font-size: 50px;
  color: white !important;
  background-color: #011E4175;
  }
  
  .date {
  font-size: 30px;
  color: white !important;
  background-color: #011E4175;
  }
  
}


/*-- scss:rules --*/

.white_text {
  color: #FFFFFF;
}

.white_title {
  color: #FFFFFF;
  font-size: 300%;
  font-weight: bold;
}

.primary-res {
  color: $theme-hfvlilac;
  font-weight: bold;
}

.mixed-res {
  color: $theme-hfvsky;
  font-weight: bold;
}

.non-res {
  color: $theme-hfvshadow;
  font-weight: bold;
}